/argo/envs/local/*

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# keys
**/*.pem

# scratchpad
scratchpad.txt

# output
out/

# secret.yaml is a k8s secret that contains dockerhub credentials
secret.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Test and coverage reports
.coverage
*.cover
coverage.xml
htmlcov/
.out/
out/
*.log

# Pytest cache
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Eclipse
.project
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.remote-sync.json
.local-history

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs and databases
*.log
*.sql
*.sqlite3

# Docker
docker-compose.yml
.dockerignore

# Git
.git/
.gitignore

# Environment variables
.env
.env.*

# Editor settings
*.sublime-workspace
*.sublime-project
.vim/
*.swp
*~
